* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #e7f1ff;
}

/* NAVBAR */
.navbar {
  background:#0057b7;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.logo img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

  /* Navgation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;

}

nav .nav-links a:hover,
nav .nav-links a.active {
  background-color: #fff;
  color: #004080;
}

/* HEADER */
.header {
  text-align: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
      color:  #666;
}

.header h1 {
  font-size: 40px;
}

.header p {
  margin-top: 10px;
  font-size: 18px;
}

/* FORM CONTAINER */
.form-container {
  width: 60%;
  margin: 20px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px #0002;
}

h2 {
  text-align: center;
  color: #003b8e;
  margin-bottom: 15px;
}

.section-title {
  font-size: 20px;
  color: #003b8e;
  margin: 25px 0 10px 0;
  border-left: 4px solid #003b8e;
  padding-left: 8px;
}

/* INPUT FIELDS */
.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

textarea {
  height: 80px;
}

/* DOUBLE SECTION */
.double {
  display: flex;
  gap: 20px;
}

/* BUTTONS */
.form-btns {
  text-align: center;
  margin-top: 20px;
}

.submit-btn {
  background: #005be0;
  color: white;
  padding: 12px 28px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.reset-btn {
  background: #ff3636;
  color: white;
  padding: 12px 28px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #0041a8;
}

.reset-btn:hover {
  background: #c00000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .form-container {
    width: 90%;
  }
  .double {
    flex-direction: column;
  }
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0057b7;
  color: white;
  margin-top: 40px;
}
