* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background: #003366;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.logo img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

  /* Navgation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;

}

nav .nav-links a:hover,
nav .nav-links a.active {
  background-color: #fff;
  color: #004080;
}

/* HEADER IMAGE */
.header {
    position: relative;
}

.header img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    filter: brightness(70%);
    border-bottom: 4px solid #005bbb;
}

.header-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.header-text h1 {
    font-size: 40px;
    font-weight: bold;
}

/* MAIN CONTENT */
.container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px #ccc;
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #aaa;
}

.box h2 {
    color: #005bbb;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* ICONS */
.icon {
    width: 60px;
    margin-bottom: 10px;
}

.box ul li,
.box p {
    margin-bottom: 8px;
    font-size: 16px;
}

/* FOOTER */
footer {
  text-align: center;
  background: #003366;
  color: white;
  padding: 12px;
  margin-top: 30px;
}
