* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #eef2f7;
}

/* NAVBAR */
.navbar {
  background: #003366;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.logo img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

  /* Navgation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;

}  

nav .nav-links a:hover,
nav .nav-links a.active {
  background-color: #fff;
  color: #004080;
}



/* HEADER */
.header {
  text-align: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
      color:  #666;
}

.header h1 {
  font-size: 40px;
}

.header p {
  margin-top: 10px;
  font-size: 18px;
}

/* CONTACT SECTION */
.contact-container {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 30px;
}

.contact-info, .contact-form {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.contact-info h2, .contact-form h2 {
  color: #003366;
  margin-bottom: 15px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
}

/* FORM STYLING */
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid gray;
  font-size: 16px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #003366;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #0055aa;
}

/* MAP */
.map {
  margin-top: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  background: #003366;
  color: white;
  padding: 12px;
  margin-top: 30px;
}
