body {
  font-family: Arial, sans-serif;
  background:#eef3ff;
  margin:0;
}
/* NAVBAR */
.navbar {
  background:#0057b7;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.logo img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

  /* Navgation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;

}

nav .nav-links a:hover,
nav .nav-links a.active {
  background-color: #fff;
  color: #004080;
}

/* HEADER */
.header {
  text-align: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
      color:  #666;
}

.header h1 {
  font-size: 40px;
}

.header p {
  margin-top: 10px;
  font-size: 18px;
}

.result-box {
  width:90%;
  max-width:450px;
  margin:30px auto;
  background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 12px rgba(0,0,0,0.1);
}

.result-box h2 {
  text-align:center;
  margin-bottom:20px;
}

label {
  font-weight:bold;
  margin-top:10px;
  display:block;
}

input, select {
  width:100%;
  padding:10px;
  margin-top:6px;
  border:1px solid #ccc;
  border-radius:6px;
}

.btn {
  width:100%;
  background:#0046c7;
  border:none;
  color:white;
  padding:10px;
  border-radius:6px;
  margin-top:15px;
  cursor:pointer;
  font-size:16px;
}

.reset {
  background:#ff5252;
}

.output {
  width:90%;
  max-width:700px;
  background:white;
  margin:20px auto;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 12px rgba(0,0,0,0.1);
}

.hidden { display:none; }

.result-title {
  font-size:20px;
  font-weight:bold;
  color:#0046c7;
  margin-bottom:15px;
}

.table {
  width:100%;
  border-collapse:collapse;
  margin-top:15px;
}

.table th, .table td {
  padding:10px;
  border:1px solid #ccc;
}

.pass { color:green; font-weight:bold; }
.fail { color:red; font-weight:bold; }


/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0057b7;
  color: white;
  margin-top: 40px;
}